.carta-box {
  margin: 1rem;
  width: 100px;
  height: 150px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.carta-box-matched {
  margin: 1rem;
  width: 150px;
  height: 150px;
  position: relative;
  perspective: 1000px;
  box-shadow: 0px 0px 15px red;
}

.rotation {
  transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}
.img {
  width: "100px";
  height: "150px";
}
.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  transform: rotateY(180deg);
}
